[submodule "DataQualityDashboard"]
	path = src/riab/libs/DataQualityDashboard
	url = https://github.com/OHDSI/DataQualityDashboard.git
	tag = v2.6.0
[submodule "SqlRender"]
	path = src/riab/libs/SqlRender
	url = https://github.com/OHDSI/SqlRender.git
	tag = v1.14.0
[submodule "Achilles"]
	path = src/riab/libs/Achilles
	url = https://github.com/OHDSI/Achilles.git
	tag = v1.7.2
[submodule "CommonDataModel"]
	path = src/riab/libs/CommonDataModel
	url = https://github.com/OHDSI/CommonDataModel.git
	tag = v5.4.1
[submodule "Ares"]
	path = src/riab/libs/Ares
	url = https://github.com/OHDSI/Ares.git
	branch = main
[submodule "QueryLibrary"]
	path = src/riab/libs/QueryLibrary
	url = https://github.com/OHDSI/QueryLibrary.git
	branch = main
