[submodule "DataQualityDashboard"]
	path = libs/DataQualityDashboard
	url = ssh://git@github.com/OHDSI/DataQualityDashboard.git
	branch = main
[submodule "SqlRender"]
	path = libs/SqlRender
	url = ssh://git@github.com/OHDSI/SqlRender.git
	branch = main
