[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
sqlfluff = "*"
twine = "*"
ruff = "*"

[packages]
backoff = "*"
polars = "*"
jinja2 = "*"
pyarrow = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
google-auth = "*"
pandas = "*"
humanfriendly = "*"
jpype1 = "*"
dash = "*"
dash-table = "*"
dash-bootstrap-components = "*"
pymssql = "*"
python-dotenv = "*"
sqlalchemy = "*"
pywin32 = {markers = "platform_system == 'Windows'",version = "*"}

[requires]
python_version = "3.12"
