[riab]
db_engine=bigquery
cdm_folder_path=~/omop-cdm/
max_parallel_tables=9
max_worker_threads_per_table=16

[bigquery]
location=EU
google_cloud_project=gcp_project
project_raw=raw_data
dataset_work=omop.work
dataset_omop=omop.omop
dataset_dqd=omop.dqd
dataset_achilles=omop.achilles
bucket=gs://omop_usagi/upload

[sql_server]
server=127.0.0.1
port=1433
user=sa
password=YourStrong@Passw0rd
omop_database_catalog=riab
omop_database_schema=omop
work_database_catalog=riab
work_database_schema=work
dqd_database_catalog=riab
dqd_database_schema=dqd
achilles_database_catalog=riab
achilles_database_schama=achilles