{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
delete from [{{omop_database_catalog}}].[{{omop_database_schema}}].[concept_ancestor]
where (CAST(ancestor_concept_id as varchar(50)) in (
    select CAST(conceptId as varchar(50))
    from [{{work_database_catalog}}].[{{work_database_schema}}].[{{omop_table}}__{{concept_id_column}}_usagi]
    where sourceCode in (
        select concept_code
        from [{{work_database_catalog}}].[{{work_database_schema}}].[{{omop_table}}__{{concept_id_column}}_concept]
    )
) or CAST(descendant_concept_id as varchar(50)) in (
    select CAST(conceptId as varchar(50))
    from [{{work_database_catalog}}].[{{work_database_schema}}].[{{omop_table}}__{{concept_id_column}}_usagi]
    where sourceCode in (
        select concept_code
        from [{{work_database_catalog}}].[{{work_database_schema}}].[{{omop_table}}__{{concept_id_column}}_concept]
    )
)) and (ancestor_concept_id >= {{min_custom_concept_id}} or descendant_concept_id >= {{min_custom_concept_id}})