{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
delete [{{omop_database_catalog}}].[{{omop_database_schema}}].[concept]
where concept_id in (
    select conceptId
    from [{{work_database_catalog}}].[{{work_database_schema}}].[{{omop_table}}__{{concept_id_column}}_usagi]
    where sourceCode in (
        select concept_code
        from [{{work_database_catalog}}].[{{work_database_schema}}].[{{omop_table}}__{{concept_id_column}}_concept]
    )
) and concept_id >= {{min_custom_concept_id}}