{# Copyright 2024 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
CREATE OR REPLACE TABLE {{dataset_work}}.{{omop_table}}__{{concept_id_column}}_usagi_casted
CLUSTER BY sourceCode
AS
SELECT 
    sourceCode,
    sourceName,
    mappingStatus,
    CAST(conceptId AS INT64) conceptId,
    conceptName,
    domainId
FROM {{dataset_work}}.{{omop_table}}__{{concept_id_column}}_usagi
where conceptId not in ('', '0') 
{% if not process_semi_approved_mappings -%}
    and mappingStatus = "APPROVED"
{%- else -%}
    and mappingStatus in ("APPROVED", "SEMI-APPROVED")
{%- endif -%} 