{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
UPDATE `{{dataset_work}}.{{omop_table}}__{{concept_id_column}}_usagi` AS T
SET T.conceptId = c.concept_id
FROM (
    SELECT DISTINCT t.concept_code AS concept_code, swap.y AS concept_id
    FROM `{{dataset_work}}.{{omop_table}}__{{concept_id_column}}_concept` t
    INNER JOIN `{{dataset_work}}.concept_id_swap` swap
        ON swap.x = concat('{{concept_id_column}}__', t.concept_code)
) c
WHERE T.sourceCode = c.concept_code
{% if not process_semi_approved_mappings -%}
    AND T.mappingStatus = "APPROVED"
{%- else -%}
    AND T.mappingStatus IN ("APPROVED", "SEMI-APPROVED")
{%- endif %} 
    AND (T.conceptId IS NULL or T.conceptId = 0);