{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
CREATE TABLE IF NOT EXISTS `{{dataset_work}}.{{omop_table}}__{{concept_id_column}}_usagi` 
(sourceCode STRING, sourceName STRING, mappingStatus STRING, conceptId INT64, conceptName STRING, domainId STRING)
CLUSTER BY sourceCode
