{# Copyright 2024 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
delete {{dataset_omop}}.concept
where CAST(concept_id as STRING) in (
    select CAST(conceptId as STRING)
    from {{dataset_work}}.{{omop_table}}__{{concept_id_column}}_usagi
    where sourceCode in (
        select concept_code
        from {{dataset_work}}.{{omop_table}}__{{concept_id_column}}_concept
    )
) and concept_id >= {{min_custom_concept_id}}