{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
delete {{project_id}}.{{dataset_id_omop}}.concept
where CAST(concept_id as STRING) in (
    select CAST(conceptId as STRING)
    from {{project_id}}.{{dataset_id_work}}.{{omop_table}}__{{concept_id_column}}_usagi
    where sourceCode in (
        select concept_code
        from {{project_id}}.{{dataset_id_work}}.{{omop_table}}__{{concept_id_column}}_concept
    )
) and concept_id >= {{min_custom_concept_id}}