{# Copyright 2024 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
delete {{dataset_omop}}.vocabulary
where vocabulary_concept_id in (
    select conceptId
    from {{dataset_work}}.{{omop_table}}__{{concept_id_column}}_usagi_casted
    where sourceCode in (
        select concept_code
        from {{dataset_work}}.{{omop_table}}__{{concept_id_column}}_concept
    )
) and vocabulary_concept_id >= {{min_custom_concept_id}}