SELECT
{%- for column in columns -%}
    {%- if not loop.first %}
    {{ ',' }}
    {%- else %}
    {{ '' }}
    {%- endif -%}
    {%- if column.isPrimaryKey == 'Yes' -%}
    CONCAT('PK_PREQUAL_', CAST(raw.[{{ column.cdmFieldName }}_column] as VARCHAR(255)))
    {%- elif column.isForeignKey == 'Yes' and column.fkTableName != "CONCEPT" -%}
    CONCAT('FK_PREQUAL_', CAST(raw.[{{ column.cdmFieldName }}_column] as VARCHAR(255)))
    {%- elif column.isForeignKey == 'Yes' and column.fkTableName == "CONCEPT" -%}
    CONCAT('CONCEPT_PREQUAL_', CAST(raw.[{{ column.cdmFieldName }}_column] as VARCHAR(255)))
    {%- else -%}
    CAST(raw.[{{ column.cdmFieldName }}_column] as {{ column.cdmDatatype }})
    {%- endif -%}
    {{" "}}AS {{ column.cdmFieldName }}
{%- endfor %}
FROM dbo.raw_{{ omop_table }} raw
