MERGE INTO {{project_id}}.{{dataset_id_omop}}.SOURCE_TO_CONCEPT_MAP AS T
USING (
    SELECT
        t.sourceCode as SOURCE_CODE
        ,0 as SOURCE_CONCEPT_ID
        ,'' as SOURCE_VOCABULARY_ID
        ,t.sourceName as SOURCE_CODE_DESCRIPTION
        ,t.conceptId as TARGET_CONCEPT_ID
        ,c.VOCABULARY_ID as TARGET_VOCABULARY_ID
        ,CURRENT_DATE() as VALID_START_DATE
        ,DATE(2099, 12, 31) as VALID_END_DATE
        ,cast(NULL as string) as INVALID_REASON
    FROM {{project_id}}.{{dataset_id_work}}.{{omop_table}}__{{concept_id_column}}_usagi t
    INNER JOIN {{project_id}}.{{dataset_id_omop}}.CONCEPT c on c.CONCEPT_ID = t.conceptId
    where t.mappingStatus = 'APPROVED'
) AS S
ON S.SOURCE_CODE = T.SOURCE_CODE and S.TARGET_CONCEPT_ID = T.TARGET_CONCEPT_ID
WHEN MATCHED THEN
    UPDATE set T.SOURCE_CONCEPT_ID = S.SOURCE_CONCEPT_ID
        ,T.SOURCE_VOCABULARY_ID = S.SOURCE_VOCABULARY_ID
        ,T.SOURCE_CODE_DESCRIPTION = S.SOURCE_CODE_DESCRIPTION
        ,T.TARGET_CONCEPT_ID = S.TARGET_CONCEPT_ID
        ,T.TARGET_VOCABULARY_ID = S.TARGET_VOCABULARY_ID
        ,T.VALID_START_DATE = S.VALID_START_DATE
        ,T.VALID_END_DATE = S.VALID_END_DATE
        ,T.INVALID_REASON = S.INVALID_REASON
WHEN NOT MATCHED THEN
    INSERT ROW