MERGE INTO {{project_id}}.{{dataset_id_omop}}.source_to_concept_map AS T
USING (
    SELECT
        t.sourceCode as source_code
        ,0 as source_code_id
        ,'' as source_vocabulary_id
        ,t.sourceName as source_code_description
        ,t.conceptId as target_concept_id
        ,c.vocabulary_id as target_vocabulary_id
        ,CURRENT_DATE() as valid_start_date
        ,DATE(2099, 12, 31) as valid_end_date
        ,cast(NULL as string) as invalid_reason
    FROM {{project_id}}.{{dataset_id_work}}.{{omop_table}}__{{concept_id_column}}_usagi t
    INNER JOIN {{project_id}}.{{dataset_id_omop}}.concept c on c.concept_id = t.conceptId
    where t.mappingStatus = 'APPROVED'
) AS S
ON S.source_code = T.source_code and S.target_concept_id = T.target_concept_id
WHEN MATCHED THEN
    UPDATE SET t.source_concept_id = s.source_concept_id
        ,t.source_vocabulary_id = s.source_vocabulary_id
        ,t.source_code_description = s.source_code_description
        ,t.target_concept_id = s.target_concept_id
        ,t.target_vocabulary_id = s.target_vocabulary_id
        ,t.valid_start_date = s.valid_start_date
        ,t.valid_end_date = s.valid_end_date
        ,t.invalid_reason = s.invalid_reason
WHEN NOT MATCHED THEN
    INSERT ROW