MERGE INTO {{project_id}}.{{dataset_id_omop}}.{{omop_table}} AS T
USING (
    SELECT 
        {%- set ns = namespace(fk_counter=0, ci_counter=0) -%}
        {%- for column in columns -%}
            {%- if not loop.first -%}
                {{','}}
            {%- endif %}
        {% if column == primary_key_column -%}
            {%- if pk_auto_numbering -%}
                swap_pk.y as {{column}}
            {%- else -%}
                t.{{column}} as {{column}}
            {%- endif -%}
        {%- elif column in foreign_key_columns -%}
            IFNULL(swap_fk{{ns.fk_counter}}.y, 0) as {{column}}
            {%- set ns.fk_counter = ns.fk_counter + 1 -%}
        {%- elif column in concept_id_columns -%}
            IFNULL(swap_ci{{ns.ci_counter}}.conceptId, 0) as {{column}}
            {%- set ns.ci_counter = ns.ci_counter + 1 -%}
        {%- else -%}
            t.{{column}}
        {%- endif %}
        {%- endfor %}
    FROM {{project_id}}.{{dataset_id_work}}.{{omop_table}}_{{sql_file}} t
    {%- set ns = namespace(ci_counter=0) -%}
    {%- for column in concept_id_columns %}
    LEFT OUTER JOIN {{project_id}}.{{dataset_id_work}}.{{omop_table}}__{{column.lower()}}_usagi swap_ci{{ns.ci_counter}} on swap_ci{{ns.ci_counter}}.sourceCode = t.{{column}} and swap_ci{{ns.ci_counter}}.mappingStatus = 'APPROVED'
        {%- set ns.ci_counter = ns.ci_counter + 1 -%}
    {%- endfor %}
    {%- if pk_auto_numbering %}
    INNER JOIN {{project_id}}.{{dataset_id_work}}.{{primary_key_column}}_swap swap_pk on swap_pk.x = t.{{primary_key_column}}
        {%- set ns = namespace(ci_counter=0) -%}
        {%- for column in concept_id_columns %}
        and swap_pk.{{column}} = IFNULL(swap_ci{{ns.ci_counter}}.conceptId, 0)
            {%- set ns.ci_counter = ns.ci_counter + 1 -%}
        {%- endfor %} 
    {%- endif -%}
    {%- set ns = namespace(fk_counter=0) -%}
    {%- for column in foreign_key_columns %}
    LEFT OUTER JOIN {{project_id}}.{{dataset_id_work}}.{{foreign_key_columns[column].column}}_swap swap_fk{{ns.fk_counter}} on swap_fk{{ns.fk_counter}}.x = t.{{column}}
        {%- set ns.fk_counter = ns.fk_counter + 1 -%}
    {%- endfor %}
) AS S
{%- if omop_table == 'fact_relationship' %}
ON S.fact_id_1 = T.fact_id_1 and S.fact_id_2 = T.fact_id_2
{%- else -%}
ON S.{{primary_key_column}} = T.{{primary_key_column}}
{%- endif -%}
    {%- for column in concept_id_columns %}
        and S.{{column}} = T.{{column}}
    {%- endfor %}
WHEN MATCHED THEN
    UPDATE SET 
        {%- for column in columns if column != primary_key_column -%}
            {% if not loop.first -%}
                {{','}}
            {%- endif %}
        {{column}} = S.{{column}}
        {%- endfor %}
WHEN NOT MATCHED THEN
    INSERT ROW