{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
TRUNCATE TABLE `{{dataset_omop}}.{{vocabulary_table}}`;
INSERT INTO `{{dataset_omop}}.{{vocabulary_table}}`
SELECT *
FROM `{{dataset_work}}.{{vocabulary_table}}`;