{#
/*********
CONCEPT LEVEL check:
PLAUSIBLE_GENDER - number of records of a given concept which occur in person with implausible gender for that concept

Parameters used in this template:
cdmDatabaseSchema = @cdmDatabaseSchema
cdmTableName = @cdmTableName
cdmFieldName = @cdmFieldName
conceptId = @conceptId
plausibleGender = @plausibleGender
{@cohort}?{
cohortDefinitionId = @cohortDefinitionId
cohortDatabaseSchema = @cohortDatabaseSchema
}
**********/
#}

SELECT num_violated_rows, CASE WHEN denominator.num_rows = 0 THEN 0 ELSE 1.0*num_violated_rows/denominator.num_rows END AS pct_violated_rows, 
  denominator.num_rows as num_denominator_rows
FROM
(
	SELECT COUNT(*) AS num_violated_rows
	FROM
	(
		SELECT cdmTable.* 
		FROM {{project_id}}.{{dataset_id_omop}}.{{cdmTableName}} cdmTable
			INNER JOIN {{project_id}}.{{dataset_id_omop}}.person p
			ON cdmTable.person_id = p.person_id
			
		{% if cohort -%}
    	JOIN {{project_id}}.{{dataset_id_omop}}.COHORT c
    	ON cdmTable.PERSON_ID = c.SUBJECT_ID
    	AND c.COHORT_DEFINITION_ID = {{cohortDefinitionId}}
    	{%- endif %}
			
		WHERE cdmTable.{{cdmFieldName}} = {{conceptId}}
		AND p.gender_concept_id <> 
		{% if plausibleGender == 'Male' -%}
		8507
		{%- else -%}
		8532
		{%- endif %}
	) violated_rows
) violated_row_count,
( 
	SELECT COUNT(*) AS num_rows
	FROM {{project_id}}.{{dataset_id_omop}}.{{cdmTableName}} cdmTable
	
	{% if cohort -%}
	JOIN {{project_id}}.{{dataset_id_omop}}.COHORT c
	ON cdmTable.PERSON_ID = c.SUBJECT_ID
	AND c.COHORT_DEFINITION_ID = {{cohortDefinitionId}}
	{%- endif %}
	
	WHERE {{cdmFieldName}} = {{conceptId}} 
) denominator
;