{#
/*********
IS_FOREIGN_KEY
Foreign key check

Parameters used in this template:
cdmDatabaseSchema = @cdmDatabaseSchema
{'@fkTableName' IN ('CONCEPT','DOMAIN')}?{vocabDatabaseSchema = @vocabDatabaseSchema}
cdmTableName = @cdmTableName
cdmFieldName = @cdmFieldName
fkTableName = @fkTableName
fkFieldName = @fkFieldName
{% if cohort and runForCohort == 'Yes' -%}
cohortDefinitionId = @cohortDefinitionId
cohortDatabaseSchema = @cohortDatabaseSchema
}
**********/
#}

SELECT num_violated_rows, CASE WHEN denominator.num_rows = 0 THEN 0 ELSE 1.0*num_violated_rows/denominator.num_rows END  AS pct_violated_rows, 
  denominator.num_rows as num_denominator_rows
FROM
(
	SELECT COUNT(violated_rows.violating_field) AS num_violated_rows
	FROM
	(
		SELECT '{{cdmTableName}}.{{cdmFieldName}}' AS violating_field, cdmTable.* 
		FROM {{project_id}}.{{dataset_id_omop}}.{{cdmTableName}} cdmTable
		{% if cohort and runForCohort == 'Yes' -%}
    	JOIN {{project_id}}.{{dataset_id_omop}}.COHORT c 
    	ON cdmTable.PERSON_ID = c.SUBJECT_ID
    	AND c.COHORT_DEFINITION_ID = {{cohortDefinitionId}}
    	{%- endif %}
		LEFT JOIN 
		{% if fkTableName in ['CONCEPT','DOMAIN'] -%}		
		{{project_id}}.{{dataset_id_omop}}.{{fkTableName}}
		{%- else -%}
		{{project_id}}.{{dataset_id_omop}}.{{fkTableName}}
		{%- endif %} fkTable
		ON cdmTable.{{cdmFieldName}} = fkTable.{{fkFieldName}}
		WHERE fkTable.{{fkFieldName}} IS NULL AND cdmTable.{{cdmFieldName}} IS NOT NULL 
	) violated_rows
) violated_row_count,
( 
	SELECT COUNT(*) AS num_rows
	FROM {{project_id}}.{{dataset_id_omop}}.{{cdmTableName}} cdmTable
	{% if cohort and runForCohort == 'Yes' -%}
    	JOIN {{project_id}}.{{dataset_id_omop}}.COHORT c 
    	ON cdmTable.PERSON_ID = c.SUBJECT_ID
    	AND c.COHORT_DEFINITION_ID = {{cohortDefinitionId}}
    {%- endif %}
) denominator
;