{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
MERGE INTO {{project_id}}.{{dataset_id_work}}.concept_id_swap AS T
USING (
    WITH cte_max AS (
        SELECT IFNULL(MAX(y), {{min_custom_concept_id}}) as y
        FROM {{project_id}}.{{dataset_id_work}}.concept_id_swap
    )
    SELECT concat('{{concept_id_column}}__', t.concept_code) as x, ROW_NUMBER() OVER() + cte_max.y as y
    FROM {{project_id}}.{{dataset_id_work}}.{{omop_table}}__{{concept_id_column}}_concept t
    INNER JOIN cte_max on 1=1
    LEFT OUTER JOIN {{project_id}}.{{dataset_id_work}}.concept_id_swap swap
        on swap.x = concat('{{concept_id_column}}__', t.concept_code)
    where swap.x is null
) AS S
ON S.x = T.x
WHEN NOT MATCHED THEN
    INSERT ROW