{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
TRUNCATE TABLE {{project_id}}.{{dataset_id_omop}}.{{vocabulary_table}};
INSERT INTO {{project_id}}.{{dataset_id_omop}}.{{vocabulary_table}}
SELECT *
FROM {{project_id}}.{{dataset_id_work}}.{{vocabulary_table}};