{# Copyright 2022 RADar-AZDelta #}
{# SPDX-License-Identifier: gpl3+ #}
CREATE TABLE IF NOT EXISTS {{project_id}}.{{dataset_id_work}}.{{pk_swap_table_name}}_swap 
(x STRING,
{%- for column in concept_id_columns %}
    {{column}} 
    {% if not column in events.values() -%}
        INT64,
    {# {{column}}_source_value STRING, #}
    {%- else -%}
        STRING,
    {%- endif -%}
{%- endfor %}
{%- for column in events %}
    {{column}} STRING,
{%- endfor %}
 source STRING,
 y INT64)
CLUSTER BY x