{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
UPDATE [{{omop_database_catalog}}].[{{omop_database_schema}}].[source_id_to_omop_id_map]
SET invalid_reason = 'D'
where valid_start_date < :etl_start