{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
MERGE INTO [{{omop_database_catalog}}].[{{omop_database_schema}}].[source_id_to_omop_id_map] AS T
USING (
    SELECT DISTINCT
        '{{omop_table}}' as omop_table
        ,t.y as omop_id
        ,t.source
        ,t.x as source_id
        ,GETDATE() as valid_start_date
        ,CAST('2099-12-31' AS DATE) as valid_end_date
        ,NULL as invalid_reason        
    FROM [{{work_database_catalog}}].[{{work_database_schema}}].[{{primary_key_column}}_swap] t
) AS S
ON S.omop_table = T.omop_table and S.omop_id = T.omop_id
WHEN MATCHED THEN
    UPDATE SET T.source = S.source
        ,T.source_id = S.source_id
        ,T.valid_start_date = S.valid_start_date
        ,T.valid_end_date = S.valid_end_date
        ,T.invalid_reason = S.invalid_reason
WHEN NOT MATCHED THEN
    INSERT (omop_table, omop_id, source, source_id, valid_start_date, valid_end_date, invalid_reason) 
    VALUES (S.omop_table, S.omop_id, S.source, S.source_id, S.valid_start_date, S.valid_end_date, S.invalid_reason);