{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
DROP TABLE IF EXISTS [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}];

CREATE TABLE [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}] (
  {% for column in columns -%}
      {% if not loop.first %}
  {{ ',' }}
      {%- endif -%}
      [{{ column["cdmFieldName"] }}]
      {%- if column["isPrimaryKey"] == 'Yes' %} varchar(255) 
      {%- elif column["isForeignKey"] == 'Yes' %} varchar(255) 
      {%- elif column["cdmFieldName"] in events.keys() %} varchar(255) 
      {%- else %} {{ column["cdmDatatype"] }}
      {%- endif -%}
  {%- endfor %}
);

CREATE INDEX idx_{{upload_table}}_1 ON [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}] (
{%- if omop_table == 'fact_relationship' %}
    fact_id_1
    , fact_id_2
{%- elif omop_table == 'death' %}
    person_id
{%- elif omop_table == 'cdm_source' %}
    cdm_source_name
{%- elif primary_key_column %}
    {{primary_key_column}}
{%- endif -%}
{# {%- for column in concept_id_columns -%}
    {%- if not column in events.values() %}
    , [{{column}}]
    {%- endif -%} 
{%- endfor -%}
{%- for column in events -%}
    {%- if omop_table != 'fact_relationship' %}
    , [{{column}}]
    {%- endif -%}
{%- endfor %} #}
);

{{ctes}}
INSERT INTO [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}]
{{select_query}}