{#- Copyright 2024 RADar-AZDelta -#}
{#- SPDX-License-Identifier: gpl3+ -#}
DROP TABLE IF EXISTS [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}];

CREATE TABLE [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}] (
  {% for column in columns -%}
      {% if not loop.first %}
  {{ ',' }}
      {%- endif -%}
      {{ column["cdmFieldName"] }}
      {%- if column["isPrimaryKey"] == 'Yes' %} varchar(50) 
      {%- elif column["isForeignKey"] == 'Yes' %} varchar(50) 
      {%- elif column["cdmFieldName"] in events.keys() %} varchar(50) 
      {%- else %} {{ column["cdmDatatype"] }}
      {%- endif -%}
  {%- endfor %}
);

{{ctes}}
INSERT INTO [{{work_database_catalog}}].[{{work_database_schema}}].[{{upload_table}}]
{{select_query}}